<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite" parallel="tests" thread-count="2">
    <listeners>
        <listener class-name="utils.TestListner"/>
    </listeners>

    <!-- All test classes here -->
    <test name="AllTests">
        <groups>
            <run>
                <!-- Group will be selected at runtime via -Dgroups -->
                <include name="Smoke"/>
                <include name="Regression"/>
            </run>
        </groups>
        <classes>
            <class name="tests.AdminPageTests"/>
            <class name="tests.PIMTests"/>
            <class name="tests.TimeTests"/>
        </classes>
    </test>
</suite>
