<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite" parallel="tests" thread-count="2">
    <listeners>
        <listener class-name="utils.TestListner"/>
    </listeners>
    <!-- Smoke Test Suite -->
    <test name="SmokeTests">
        <groups>
            <run>
                <include name="Smoke"/>
            </run>
        </groups>
        <classes>
            <class name="tests.AdminPageTests"/>
            <class name="tests.PIMTests"/>
            <class name="tests.TimeTests"/>
        </classes>
    </test>
    <!-- Regression Test Suite -->
    <test name="RegressionTests">
        <groups>
            <run>
                <include name="Regression"/>
            </run>
        </groups>
        <classes>
            <class name="tests.AdminPageTests"/>
            <class name="tests.PIMTests"/>
            <class name="tests.TimeTests"/>
        </classes>
    </test>
</suite>